.LoginScreen {
  height: 100%;
  .wrap {
    background-color: white;
    min-height: 100%;
    border-radius: 20px;
    @include flexCenter;

    .box {
      width: 350px;
      h2 {
        color: $color_p1;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        small {
          color: $color_g3;
          span {
            color: $color_p1;
            cursor: pointer;
          }
        }
      }

      .tpp {
        .divider {
          display: flex;
          align-items: c;
          font-size: 13px;
          color: $color_g3;
          align-items: center;
          gap: 10px;

          hr {
            background-color: $color_g2;
            opacity: 1;
            height: 1px;
            border: none;
            width: 100%;
            outline: none;
          }
        }

        .btn {
          border: 1px solid black;
          // text-align: center;
          padding: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          // color: $color_g3;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            color: $color_p1;
            border-color: $color_p1;
          }
        }
      }
    }
  }
}
