.ExamPortal {
  background-color: #fafafa;
  height: 100%;

  .topTitle {
    text-align: center;
    // margin-top: 20px;
    margin: 0;
    color: $color_p1;
  }

  .middleTitle {
    display: none;
  }

  @include respond-below(md) {
    .topTitle {
      display: none;
    }

    .middleTitle {
      display: block;
      text-align: center;
      margin-top: 20px;
      color: $color_p1;
    }
  }
  .portal {
    background-color: white;

    min-height: 100%;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color_g2;
      padding-bottom: 16px;

      .left {
        display: flex;
        align-items: center;
        gap: 10px;

        small {
          color: $color_g2;
        }

        p {
          // margin: 0;
          font-size: 24px;
          margin-top: -8px;
        }

        svg {
          font-size: 30px;
          color: $color_p1;
        }
      }
    }

    .middle {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 20px;

      @include respond-below(md) {
        margin-top: 0;
      }

      .question {
        height: 100%;
        // overflow: scroll;
        small {
          color: $color_g3;
        }

        .answer {
          display: flex;
          margin: 8px 0;
          border: 1px solid $color_g2;
          padding: 10px;
          border-radius: 10px;
          position: relative;

          .ico {
            position: absolute;
            top: 50%;
            right: 10px;
            // background-color: red;
            width: fit-content;
            transform: translate(0, -60%);
          }

          > div {
            width: 50px;
            color: $color_g3;
          }

          &:hover {
            &:not(.disabled) {
              cursor: pointer;
              border-color: $color_p1;
            }
          }

          &.selected {
            background-color: $color_p1;
          }

          &.disabled {
            opacity: 0.5;
          }

          &.correct {
            background-color: #4bb543;
            color: white;
            opacity: 1;

            > div {
              color: white;
            }
          }

          &.wrong {
            background-color: #f32013;
            color: white;
            opacity: 1;

            > div {
              color: white;
            }
          }
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;

      .nums {
        display: flex;
        gap: 10px;
        margin: 0 10px;
        overflow: auto;

        @include respond-below(md) {
          display: none;
        }

        > div {
          border: 1px solid $color_g2;
          height: 37px;
          width: 37px;
          @include flexCenter;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            border-color: $color_p1;
          }

          &.active {
            color: white;
            background-color: $color_p1;
          }
        }
      }
    }
  }

  @include respond-below(md) {
    .portal {
      padding: 5px;
    }
  }
}
