.ExamPortal {
  background-color: #fafafa;
  height: 100%;

  .portal {
    background-color: white;
    min-height: 100%;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;

    gap: 16px;

    .top {
      display: flex;
      justify-content: space-between;

      align-items: center;
      border-bottom: 1px solid $color_g2;
      padding-bottom: 16px;

      .time {
        width: 100px;
      }

      .left {
        display: flex;
        align-items: center;
        gap: 10px;

        small {
          color: $color_g2;
        }

        p {
          margin: 0;
          //   color: $color_g3;
        }

        svg {
          font-size: 30px;
          //   color: $color_p1;
        }
      }
    }

    .cont {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .middle {
      display: flex;
      flex-direction: column-reverse;
      gap: 20px;

      .question {
        height: 100%;
        // overflow: scroll;
        margin-bottom: 40px;
        small {
          color: $color_g3;
          font-size: 20px;
        }

        .qHead {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 4px;
        }

        .answer {
          margin: 8px 0;
          display: grid;
          align-items: center;
          grid-template-columns: calc(100% - 30px) 30px;
          gap: 10px;

          input[class*="form-check-input"] {
            border-radius: 50%;
            height: 25px;
            width: 25px;
            cursor: pointer;
          }
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;

      .nums {
        display: flex;
        gap: 10px;
        margin: 0 10px;
        overflow: auto;

        @include respond-below(md) {
          display: none;
        }

        > div {
          border: 1px solid $color_g2;
          height: 37px;
          width: 37px;
          @include flexCenter;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            border-color: $color_p1;
          }

          &.active {
            color: white;
            background-color: $color_p1;
          }
        }
      }
    }
  }
}
