$color_p1: rgb(9, 92, 190);

$color_o2: #fee9b6;
$color_o3: #fbe5b5;
$color_o4: #fb9329;
$color_o5: #fd4a02;

$color_p2: #2a235a;
// $color_p1: #ea2054;

$color_p1_mild: #ea205344;

$color_g1: #f1f2f4;
$color_g2: #a3aab2;
$color_g3: #5a5e63;

$color_link_blue: rgb(0, 123, 255);

$box_padding: 10px;
